.mt-10{
    margin-top:10px
}
.mt-20{
    margin-top:20px
}
.mt-25{
    margin-top:25px
}
.mt-30{
    margin-top:30px
}
.mt-40{
    margin-top:40px
}
.mt-45{
    margin-top:45px
}
.mt-50{
    margin-top:50px
}
.mt-60{
    margin-top:60px
}
.mt-100{
    margin-top:100px
}
.mb-10{
    margin-bottom:10px
}
.mb-15{
    margin-bottom:15px
}
.mb-20{
    margin-bottom:20px
}
.mb-25{
    margin-bottom:25px
}
.mb-30{
    margin-bottom:30px
}
.mb-35{
    margin-bottom:35px
}
.mb-40{
    margin-bottom:40px
}
.mb-45{
    margin-bottom:45px
}
.mb-50{
    margin-bottom:50px
}
.mb-60{
    margin-bottom:60px
}
.ml-50{
    margin-inline-start:50px
}
.mr-15{
    margin-inline-end:15px
}
.pt-20{
    padding-top:20px
}
.pt-25{
    padding-top:25px
}
.pt-30{
    padding-top:30px
}
.pt-80{
    padding-top:80px
}
.pt-160{
    padding-top:160px
}
.pb-10{
    padding-bottom:10px
}
.pb-25{
    padding-bottom:25px
}
.pb-30{
    padding-bottom:30px
}
.pb-80{
    padding-bottom:80px
}
.pb-160{
    padding-bottom:160px
}
.pl-50{
    padding-inline-start:50px
}
.pr-30{
    padding-inline-end:30px
}
